[user]
    name = {{ full_name }}
    email = {{ email }}
[color]
    diff = always
    ui = always
[push]
    default = current
[core]
    editor = {{ default_editor }}
    excludesFile = ~/.gitignore
[pull]
    rebase = true
[http]
    sslVerify = false
